fastapi==0.116.0
uvicorn[standard]==0.35.0
gunicorn==23.0.0
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
httpx==0.28.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
facebook-business==23.0.0
